body {
    margin: 0;
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container, .numContainer {
    display: flex;
    gap: 10px;
}

.container, .screen {
    border-radius: 20px;
}

.numContainer {
    flex-wrap: wrap;
    height: 100%;
}

.column {
    flex-direction: column;
}

.number, button {
    display: flex;
    flex: 1 0 20%;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    font-size: 5em;
}

.container {
    background-color: rgb(29, 25, 25);
    width: 600px;
    height: 900px;
    padding: 20px;
}

.screen {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: center;
    font-size: 6rem;
    width: 100%;
    height: 7rem;
    background-color: darkgray;
}

.clear {
    font-size: 3em;
    width: 3em;
}

button{
    display: flex;
    flex: 1 1 100%;
    height: 100%;
    width: 100%;
    font-size: 1em;
    border: none;
}

.numB {
    background-color: darkgray;
}

.numB:active {
    background-color: Gray;
}

.clearB {
    background-color: red;
    border-radius: 50px;
}

.clearB:active {
    background-color: darkred;
}

.opB {
    background-color: blue;
}

.opB:active {
    background-color: navy;
}

.eqB {
    background-color: rgb(159, 200, 221);
}

.eqB:active {
    background-color: rgb(35, 144, 169);
}